---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "app.fullname" . }}-config
  annotations:
    {{- include "app.annotations" . | indent 4 }}
  labels:
    {{- include "app.labels" . | indent 4 }}
type: Opaque
stringData:
  up.conf: |-
    {{- .Values.config | indent 4 }}
