{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ template "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
{{ with .Values.serviceMonitor.labels }}{{ toYaml . | indent 4 }}{{ end }}
  {{- with .Values.serviceMonitor.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  endpoints:
    {{- .Values.serviceMonitor.endpoints | toYaml | nindent 4 }}
{{- end }}
